.page-container {
  display: flex;
  justify-content: center;
  padding: 2rem;

  .welcome-card {
    max-width: 600px;
    width: 100%;
  }

  mat-icon[mat-card-avatar] {
    font-size: 2rem;
    height: 40px;
    width: 40px;
  }
}
